<div class="header">
	<div class="container">
		<div class="header-main">
			<div class="logo">
				<h1><a href="index.html">Auchan Photo</a></h1>
			</div>
			<div class="top-nav">
				<nav class="cl-effect-20">
					<span class="menu"> <img src="images/icon.png" alt=""/></span>
					<ul class="res">
						<li><a href="index.html" class="active">Home</a></li> 
						<li><a href="app/html_template/about.html">About</a></li> 
						<li><a href="app/html_template/gallery.html">Gallery</a></li> 
						<li><a href="app/html_template/typo.html">Typo</a></li> 
						<li><a href="app/html_template/contact.html">Contact</a></li> 
					</ul>
				</nav>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>